* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border: 1px solid gainsboro;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  margin: 23px 10px 0 10px;
  list-style: none;
  font-size: small;
  font-weight: 600;
}

ul li:hover {
  cursor: pointer;
}

nav img {
  width: 6%;
}

nav .icon {
  display: none;
}

.fa-angle-down {
  font-size: 10px;
  margin-left: 5px;
}

.first-section {
  margin-top: 92px;
  display: flex;
  justify-content: space-around;
  padding: 0 200px;
  align-items: center;
  gap: 10px;
  background-image: linear-gradient(to right, #fffffe, #fefdf6);
}

.first-section-div h1 {
  font-size: 60px;
  font-weight: bold;
  color: #000f42;
}

.first-section-div p {
  color: #474747;
}
.first-section img {
  width: 50%;
}

.first-section-btn {
  padding: 15px 25px;
  font-size: 14px;
  border-radius: 10px;
  margin: 20px 0;
  color: #ffffff;
  border: none;
  background-color: #002089;
}
.second-section h2 {
  font-size: 41px;
  margin: 60px 0 40px 200px;
  font-weight: 500;
  color: #000f53;
}

.second-section-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 200px;
  gap: 60px;
}

.second-section-div img {
  width: 100%;
  filter: grayscale(100%);
}

.second-section-div a {
  text-decoration: none;
  border-bottom: 2px solid #000f53;
  padding-bottom: 5px;
  color: #000f53;
}

.fa-chevron-right {
  font-size: 12px;
  display: none;
}

.fa-chevron-right:hover {
  transform: translateX(20px);
  transition: transform 300ms ease-in;
  display: inline;
}

.second-section-div div > h3:nth-child(2) {
  font-size: 19px;
  font-weight: bold;
  margin: 30px 0;

  color: #000f53;
}

.second-section-div-p {
  font-size: 13.5px;
  margin-bottom: 30px;
  color: #666666;
}

.second-section-div-h3 {
  font-size: 18px;
  margin: 25px 0;
}

.second-section-div-h3 ~ p {
  border-bottom: 1px solid #2ca3f2;
  padding-bottom: 3px;
  color: #666666;
}

.second-section-div-h3 ~ p:last-child {
  border: none;
}

span {
  font-weight: 600;
}

.third-section-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 200px;
  column-gap: 60px;
  row-gap: 30px;
}

.third-section-div img {
  width: 100%;
  border-radius: 20px;
}

.third-section-1st-div,
.third-section-2nd-div,
.third-section-3rd-div,
.third-section-4th-div {
  padding: 60px 50px;
  border-radius: 20px;
}

.third-section-2nd-div,
.third-section-4th-div {
  border: 1.2px solid gray;
}

.third-section-1st-div h3,
.third-section-2nd-div h3,
.third-section-3rd-div h3,
.third-section-4th-div h3 {
  margin: 20px 0;
  color: #333333;
}

.third-section-1st-div p,
.third-section-2nd-div p,
.third-section-3rd-div p,
.third-section-4th-div p {
  font-size: 14px;
  color: #000000;
}
.third-section {
  margin: 150px 0;
}
.third-section-1st-div {
  background-color: #d6eaf3;
  box-shadow: 0px 10px 50px #d9e9d9;
}

.third-section-2nd-div {
  background-color: #eeefbd;
  box-shadow: 0px 10px 50px #ffdfda;
  margin-top: -150px;
  margin-bottom: 120px;
}
.third-section-3rd-div {
  background-color: #e0d4c0;
  box-shadow: 0px 10px 75px 10px #d9e9d9;
  margin-bottom: 40px;
}

.third-section-4th-div {
  background-color: #ded4e8;
  box-shadow: 0px 10px 75px 10px #ffdfda;

  margin-top: -120px;
  margin-bottom: 90px;
}

.third-section-main-div {
  padding: 0 200px;
  margin-bottom: 60px;
}
.third-section-main-div h2 {
  font-size: 45px;
  color: #333333;
  font-weight: 600;
}
.third-section-main-div p {
  font-size: 15px;
  color: #666666;
  margin: 15px 0 30px;
}

.third-section-div a,
.third-section-main-div a {
  font-size: 14px;
  color: #002089;
  font-weight: 500;
  text-decoration: none;
}

.third-section-div a i,
.third-section-main-div a i {
  font-size: 9px;
  padding: 8px;
}
.third-section-div a span,
.third-section-main-div a span {
  text-decoration: underline;
}

.third-section-div a span:hover {
  color: #fa8d29;
  background-color: #fff;
  border-radius: 15px;
  transition: all 300ms ease-in;
}

.third-section-div a:hover,
.third-section-main-div a:hover {
  background-color: transparent;
  color: #fa8d29;
  transition: all 300ms ease-in;
}

.fourth-section h3 {
  margin: 60px 650px 50px 200px;
}
.fourth-section div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 250px;
  gap: 50px;
}

.fourth-section div img {
  width: 70%;
}

iframe {
  width: 400px;
  height: 250px;
  border-radius: 25px;
}

.fifth-section-div {
  display: flex;

  justify-content: space-around;
  padding: 0 200px;

  gap: 50px;
}
.fifth-section-div h2 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.fifth-section-div p {
  color: white;

  margin: 10px 0 35px;
  line-height: 1.8;
}
.fifth-section {
  background: linear-gradient(
      to right,
      rgba(69, 20, 20, 0.768),
      rgba(12, 12, 60, 0.99)
    ),
    url("./multimedia/sqi-images/DSC_9054-scaled.jpg") center center/cover;

  padding: 80px 25px 80px 0;
  margin: 70px 0;
  height: 480px;
}

.fifth-section-btn {
  padding: 17px 25px;
  font-size: 15px;
  border-radius: 30px;

  color: #ffffff;
  border: none;
  background-color: #002089;
}

.sixth-section {
  margin: 10px 0 150px 0;
}
.sixth-section h3 {
  font-size: 48px;
  margin-left: 220px;
  color: #333333;
  font-weight: 600;
}

.sixth-section .main-para {
  font-size: 14px;
  padding: 10px 700px 50px 200px;
  color: #474747;
}
.sixth-section-main-div {
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 15px;
}

.sixth-section-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 200px;
}

.sixth-section-main-div h4 {
  font-size: 16px;
  margin-bottom: 0;
  color: #333333;
  font-weight: 500;
}
.sixth-section-main-div p {
  font-size: 12px;
  margin: 1px 0 -2px 0;
  color: #555555;
}

.main-stars {
  color: #fa8d29;
}

.sixth-section-main-div .second-image {
  width: 50%;
}
.google-image {
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.sixth-section-btn {
  margin-top: 5px;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 12px;
  display: block;
  border: none;
  background-color: #3976e9;

  margin: 10px auto;
  color: #ffffff;
}
.sixth-section-main-div .first-image {
  width: 20%;
  height: 54px;
  border-radius: 60%;
  margin-bottom: 5px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.google-logo {
  width: 8%;
  margin-top: -50px;
  margin-right: -5px;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  display: flex;

  align-items: center;
  gap: 10px;
}

.image-container h5 {
  font-size: 14px;
  color: #154fc1;
  font-weight: 500;
}
.image-container h6 {
  font-size: 11px;
  color: #5f5f5f;
  font-weight: 300;
}

.carousel-item {
  background-color: #fafafa;
  width: 300px;
  height: 200px;
  overflow: hidden;
  padding: 15px;
}

.carousel-item .para-div {
  height: calc(100% - 50px);
  overflow-y: auto;
  font-size: 12px;
  line-height: 1.8;
  color: #222222;
  padding: 5px 0 40px 0;
}

.star-div {
  margin: 10px 0;
  color: #fa8d29;
}

.seventh-section-div {
  display: grid;
  grid-template-areas:
    "a a i"
    "b c i"
    "d e i"
    "f g i"
    "h j i";
  padding: 0 200px;
  gap: 50px;
}
.seventh-section-div i {
  padding: 0 0 30px 0;
  color: #666666;
}
.seventh-section-div h2 {
  font-size: 34px;
  font-weight: 600;
}
.seventh-section-div h3 {
  font-size: 18px;
}
.seventh-section-div p {
  font-size: 14px;
  color: #666666;
}
.seventh-section-div-1 {
  grid-area: a;
}

.seventh-section-div-img {
  grid-area: i;
}
.seventh-section-div-img img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.seventh-section-div-2 {
  grid-area: b;
}

.seventh-section-div-3 {
  grid-area: c;
}

.seventh-section-div-4 {
  grid-area: d;
}
.seventh-section-div-5 {
  grid-area: e;
}

.seventh-section-div-6 {
  grid-area: f;
}

.seventh-section-div-7 {
  grid-area: g;
}

.seventh-section-div-8 {
  grid-area: h;
}

.seventh-section-div-9 {
  grid-area: j;
}

.eight-section-div {
  display: flex;
  padding: 50px 200px;
  gap: 10rem;
  height: 40rem;
}

.accordion {
  width: 550px;
}

.accordion p {
  color: #cecdd3;
}

.accordion-item {
  border-bottom: 2px solid #d39a00;
  background-color: #090326;
}

.accordion-button::after {
  display: none;
}

.accordion-button {
  background-color: transparent;
  color: #d39a00;
  border: none;

  transition: all 400ms ease-out;
  padding: 30px 0;
  font-size: 20px;
}

.accordion-button:focus,
.accordion-button.active {
  box-shadow: none;
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #d39a00;
}

.eight-section-div a {
  text-decoration: none;
  border-bottom: 2px solid #d39a00;
  padding-bottom: 5px;
  color: #d39a00;
  font-size: large;
}

.eight-section {
  background-color: #090326;
  margin-top: 70px;
}
.eight-section-div h3 {
  color: #ffffff;
  margin-bottom: 50px;
  font-size: 35px;
}
.eight-section-div h6 {
  color: #ffffff;
  padding-top: 10px;
}

.ninth-section {
  background-color: #000b3f;
}

.ninth-section-div {
  padding: 80px 200px 150px 200px;
}

.ninth-section-div h2 {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin: 15px 0 30px 0;
}

.ninth-section-div h4 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
}

.ninth-section-div p {
  color: #ffffff;
  font-size: 12.5px;
  padding-right: 550px;
  margin-bottom: 20px;
}

.ninth-section-btn {
  padding: 17px 22px;
  font-size: 15px;
  border-radius: 30px;

  color: #ffffff;
  border: none;
  background-color: #002089;
}

.tenth-section-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 200px;
  gap: 40px;
}
.tenth-section {
  background-color: #f0f1ff;
  padding: 80px 0 180px 0;
}

.tenth-section-div h3 {
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1.8;
}

.tenth-section-div h5 {
  font-size: 12px;
  margin: 10px 0;
  color: #f7827e;
}
.tenth-section-div p {
  font-size: 14px;
  color: #666666;
  line-height: 1.7;
}

.tenth-section-div img {
  width: 100%;
}

.tenth-section-1st-div {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  margin-bottom: 20px;
}

.tenth-section-1st-div h2 {
  font-weight: 600;
  font-size: 36px;
}
.tenth-section-2nd-div {
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 10px 75px 3px rgba(0, 0, 0, 0.15);
}

.tenth-section-btn {
  padding: 17px 22px;
  font-size: 15px;
  border-radius: 30px;

  color: #ffffff;
  border: none;
  background-color: #002089;
}

.eleventh-section-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 80px 200px 60px 200px;
  gap: 60px;
}

.eleventh-section-div p {
  font-size: 14px;
  color: #666666;
}

.eleventh-section-div div:first-child p {
  color: #333333;
  font-weight: 500;
}

.eleventh-section-div h5 {
  margin-bottom: 30px;

  font-size: 16px;
}

#eleventh-section-first-h5 {
  margin-bottom: 10px;
  color: #002089;
  font-size: 18px;
}

#eleventh-section-first-h5 ~ a {
  text-decoration: none;
  color: #2ca3f2;
  font-size: 14px;
}

#eleventh-section-2nd-h5 ~ p a {
  text-decoration: none;
  color: #666666;
}

#send-email {
  margin-bottom: -5px;
}

.last-div-para a {
  text-decoration: none;
  color: #2ca3f2;
}

.eleventh-section-div .fa-facebook-f {
  margin: 15px 15px 15px 10px;
  color: #666666;
}

.fa-x-twitter,
.eleventh-section-div .fa-linkedin-in,
.fa-youtube {
  margin-right: 15px;
  color: #666666;
}

.fa-instagram {
  color: #666666;
}

.eleventh-section-div .fa-facebook-f:hover,
.eleventh-section-div .fa-linkedin-in:hover,
.fa-x-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  cursor: pointer;
}

.twelve-section-div {
  position: fixed;
  top: 40%;
}

.twelve-section-div .fa-facebook-f,
.twelve-section-div .fa-twitter,
.twelve-section-div .fa-linkedin-in {
  display: block;
  padding: 15px;
  color: #ffffff;
}

.twelve-section-div .fa-facebook-f {
  background-color: #395799;
  border-radius: 0 5px 0 0;
}
.twelve-section-div .fa-twitter {
  background-color: #00abf0;
}
.twelve-section-div .fa-linkedin-in {
  background-color: #107bb6;
  border-radius: 0 0 5px 0;
}

.thirteen-section-div span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 12px;
  background-color: #f4f7f9;
  padding: 10px;
  color: #464a50;
}
.thirteen-section-div {
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 88.55%;
  left: 2%;
}

.fa-whatsapp {
  font-size: 35px;
  color: #fff;
  background-color: #2cb642;
  padding: 10px 12px;
  border-radius: 75px;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);
}

.strong {
  font-weight: bold;
}

.last-section-div {
  position: fixed;
  top: 88.55%;
  right: 2%;
}

.fa-angle-up {
  font-size: 20px;
  color: #fff;
  background-color: #0164fd;
  padding: 18px 20px;
  border-radius: 75px;
}

footer {
  background-color: #050044;
  color: #ffffff;
  margin: 15px 0px -20px 0px;
}

footer p {
  font-size: 14px;
  padding: 20px 200px 3px;
}

@media screen and (max-width: 850px) {
  header {
    position: static;
    width: 100%;
  }
  nav .icon {
    display: block;
    font-size: 20px;
    color: #2ca3f2;
  }
  nav img {
    width: 15%;
  }

  nav {
    padding: 15px 35px;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-bottom: 1px solid gainsboro;
  }
  nav ul {
    display: none;
  }

  .first-section {
    padding: 30px 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .first-section-div h1 {
    font-size: 42.5px;
    font-family: "Prata";
    font-weight: bold;
  }

  .first-section-div p {
    font-size: 14px;
  }
  .first-section img {
    width: 95%;
  }

  .second-section h2 {
    margin: 50px 100px 40px 35px;
    font-size: 35px;
  }
  .second-section-div {
    padding: 0 35px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .second-section-div div > h3:nth-child(2) {
    font-size: 16px;
  }

  .second-section-div-p {
    font-size: 14.5px;
    line-height: 1.6;
  }

  .second-section-div-h3 {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 25px 0;
  }

  .second-section-div-h3 ~ p {
    font-size: 14px;
  }

  .third-section-div {
    padding: 0 35px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .third-section-main-div {
    padding: 0;
  }

  .third-section-main-div h2 {
    font-size: 18px;
    margin-left: 35px;
  }

  .third-section-main-div p {
    font-size: 14px;
    margin-left: 35px;
  }

  .third-section-main-div a {
    margin-left: 35px;
  }

  .third-section-2nd-div {
    margin: 0;
  }

  .third-section-4th-div {
    margin: 0;
  }

  .third-section-3rd-div {
    margin: 0;
  }

  .third-section-1st-div,
  .third-section-2nd-div,
  .third-section-3rd-div,
  .third-section-4th-div {
    padding: 20px;
    border-radius: 20px;
  }

  .third-section-1st-div h3,
  .third-section-2nd-div h3,
  .third-section-3rd-div h3,
  .third-section-4th-div h3 {
    font-size: 16px;
  }

  .third-section {
    margin: 120px 0;
  }

  .fourth-section {
    display: none;
  }

  iframe {
    width: 320px;
    height: 180px;
  }

  .fifth-section {
    height: 700px;
    padding: 80px 35px 80px 35px;
  }

  .fifth-section-div {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .fifth-section-div h2 {
    font-size: 20px;
  }

  .fifth-section-div p {
    font-size: 14px;
  }

  .sixth-section-div {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 45px;
    gap: 25px;
  }
  .sixth-section h3 {
    margin-left: 45px;
    font-size: 20px;
  }
  .sixth-section .main-para {
    padding: 8px 60px 40px 35px;
  }

  .seventh-section-div {
    padding: 35px;
    display: inline-block;
  }

  .seventh-section-div h2 {
    font-size: 20px;
    margin-bottom: 60px;
  }

  .seventh-section-div h3 {
    font-size: 17px;
  }

  .seventh-section-div p {
    margin-bottom: 50px;
  }

  .seventh-section-div-img img {
    height: 180px;
    width: 320px;
  }

  .eight-section-div {
    padding: 70px 35px;
    display: inline-block;
    height: 100%;
  }

  .accordion {
    max-width: 300px;
    margin-left: -10px;
    margin-top: 10px;
  }

  .accordion p {
    font-size: 14px;
  }

  .eight-section-main-div {
    margin-bottom: 50px;
  }

  .eight-section-div h6 {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .accordion-button {
    font-size: 15px;
    padding: 20px 0;
  }

  .eight-section-div h3 {
    font-size: 20px;
  }

  .ninth-section-div {
    padding: 80px 35px 120px 35px;
  }

  .ninth-section-div h2 {
    font-size: 25px;
    font-weight: 500;
  }
  .ninth-section-div h4 {
    font-size: 17px;
    padding-right: 20px;
  }

  .ninth-section-div p {
    padding: 0;
    font-size: 14.5px;
  }

  .tenth-section-div {
    padding: 0 35px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .tenth-section-1st-div {
    padding: 0;
    display: inline-block;
  }
  .tenth-section-1st-div h2 {
    font-size: 20px;
    margin: 0 0 45px 35px;
  }

  .tenth-section-btn {
    margin-left: 230px;
  }

  .eleventh-section-div {
    padding: 100px 70px 40px 60px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .twelve-section-div {
    display: none;
  }
  .thirteen-section-div {
    top: 91%;
    left: 5%;
  }

  .fa-whatsapp {
    padding: 8px 10px;
  }

  .fa-angle-up {
    padding: 14px 16px;
  }
  .last-section-div {
    top: 91%;
    right: 5%;
  }

  footer p {
    padding: 20px 20px 20px 40px;
  }
}
